<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/wordle/favicon.svg">
	<title>404</title>
</head>
<body>
	<p>Bro are you lost?</p>
</body>
</html>