<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>42times</title>
</head>
<body>
	<h1>42times</h1>

	{{#if user_data}}
		<img src="{{user_data.img}}" alt="Profile picture">
        <p>Bienvenue, {{user_data.name}} !</p>
    {{else}}
        <a href="{{login_url}}">LOGIN</a>
    {{/if}}

	<a href="/wordle">Play wordle !</a>
</body>
</html>